body{
  margin:0;
  padding:0;
  background-color: rgb(19, 8, 165);
  color: rgb(233, 227, 227);
  font-family: 'Montserrat', 'sans-serif';
}

.grid-container{
  display:grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 'sidebar header header header' 'sidebar main main main';
  height: 100vh;
}

.header{
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(228, 207, 207, 0.35);
}

.menu-icon{
  display: none;
}
#sidebar {
 grid-area: sidebar;
 height: 100%;
 background-color: rgb(99, 123, 230);
 overflow-y: auto;
 transition: all 0.5s;
 -webkit-transition: all 0.5s;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}
.sidebar-title > span{
  display: none;
}
.sidebar-brand{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family:cursive;
}
.sidebar-list{
  padding: 0;
  list-style-type: none;
}
.sidebar-list-item{
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}
.sidebar-list-item:hover{
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}
.sidebar-list-item>a{
  text-decoration: none;
  color: #022635;
}
.sidebar-responsive{
  display: inline !important;
  position: absolute;
  z-index: 12 !important
}
.main-container{
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title{
  display: flex;
  justify-content: space-between;
}
.main-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.card:first-child{
  background-color: rgb(120, 159, 231);
}
.card:nth-child(2) {
  background-color: rgb(20, 99, 163);
}
.card:nth-child(3) {
  background-color: rgb(132, 224, 132);
}
.card:nth-child(4) {
  background-color: rgb(17, 96, 141);
}
.card:nth-child(5) {
  background-color: rgb(99, 33, 173);
}
.card-inner{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner >.card_icon{
  font-size:25px;
} 

.charts{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

   @media screen and (max-width: 992px){
    .grid-container {
      grid-template-columns:1fr;
      grid-template-rows:0.2fr 3fr;
      grid-template-areas:'header' 'main';
    }

    #sidebar{
      display:none;
    }
    .menu-icon{
      display: inline;
    }

    .sidebar-title > span {
      display: inline;
    }

   }
